/* Card ======================= */

.card {
  --card-width: 460px;

  position: relative;
  display: block;
  width: var(--card-width);
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 4px;
  overflow: hidden;
  transform: translateX(-50%);
  transition: .3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 194, 14, .1);
    opacity: 0;
    transition: .3s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    display: block;
    width: 39px;
    height: 39px;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='39' height='39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='%23fff'%3E%3Cpath d='M19.538 38.17c10.301 0 18.652-8.345 18.652-18.639C38.19 9.238 29.84.893 19.538.893 9.236.893.885 9.238.885 19.53c0 10.294 8.35 18.639 18.653 18.639z' fill-opacity='.6'/%3E%3Cpath d='M29.186 19.531l-14.15 9.641V9.891l14.15 9.64z'/%3E%3Cpath d='M15.035 29.815a.642.642 0 01-.643-.643V9.89a.642.642 0 011.006-.531L29.548 19a.643.643 0 010 1.062l-14.15 9.64a.645.645 0 01-.363.113zm.643-18.708v16.849l12.366-8.425-12.366-8.424z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(.885 .893)' d='M0 0h37.306v37.277H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  &:focus {
    outline: none;
  }

  &:hover {

    &::after,
    &::before {
      opacity: 1;
    }
  }

  @media (--laptop-max) {
    --card-width: 360px;
  }

  @media (--tablet-max) {
    --card-width: 380px;
    margin-right: 8px;
    margin-left: 8px;
    transform: none;
  }

  @media (--phone-large-max) {
    --card-width: 320px;
    margin-right: 4px;
    margin-left: 4px;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 14px;
  background: rgba(0, 0, 0, .7);
}

.card__title {
  overflow: hidden;
  color: var(--color-white);
  font-size: var(--text-size-xs);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__season-info {
  overflow: hidden;
  color: var(--color-white);
  font-size: var(--text-size-xxs);
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ================ end card  */
