mixin card(href, title, seasonInfo, image)
  a(href= href, class="card", title= title, target="_blank")
    img(src="uploads/" + image,  alt= title, class="card__image")
    footer.card__footer
      .card__title= title
      .card__season-info= seasonInfo
