include ../utils/mixins

//- global variables
block variables

doctype html
html(lang="en")
  include ../modules/head
  body(class="page " + pageClass)
    block content
    //- scripts
    include ../modules/scripts
    block scripts
