//- layout/page.pug
extends ../layouts/main

block variables
  - var title = TITLE.home;
  - var pageClass = "page--home"

//- content
block content
  include home/home_content/home_content
  include home/recommendation/recommendation

//- scripts
block scripts
