//- layout/page.pug
extends ../layouts/main
include ../components/frame/frame

block variables
  - var title = TITLE.pavel;
  - var pageClass = "page--naming"

//- content
block content
  +frame("pavel", "Pavel name")
  include ../components/music_background/audio_background

//- scripts
block scripts
