//- layout/page.pug
extends ../layouts/main
include ../components/frame/frame

block variables
  - var title = TITLE.sasha;
  - var pageClass = "page--naming"

//- content
block content
  +frame("sasha", "Sasha name")
  include ../components/music_background/audio_background

//- scripts
block scripts
