//- layout/page.pug
extends ../layouts/main
include ../components/frame/frame

block variables
  - var title = TITLE.zhenia;
  - var pageClass = "page--naming"

//- content
block content
  +frame("zhenia", "Zhenia name")
  include ../components/music_background/audio_background

//- scripts
block scripts
