.icon-arrow_left {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='10' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.764 14.25l-7-6.497 7-6.497' stroke='%23000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 10px;
    height: 16px;
}
.icon-arrow_right {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='10' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.58 1.75l7 6.497-7 6.497' stroke='%23000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 10px;
    height: 16px;
}
.icon-play_button {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='39' height='39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='%23fff'%3E%3Cpath d='M19.538 38.17c10.301 0 18.652-8.345 18.652-18.639C38.19 9.238 29.84.893 19.538.893 9.236.893.885 9.238.885 19.53c0 10.294 8.35 18.639 18.653 18.639z' fill-opacity='.6'/%3E%3Cpath d='M29.186 19.531l-14.15 9.641V9.891l14.15 9.64z'/%3E%3Cpath d='M15.035 29.815a.642.642 0 01-.643-.643V9.89a.642.642 0 011.006-.531L29.548 19a.643.643 0 010 1.062l-14.15 9.64a.645.645 0 01-.363.113zm.643-18.708v16.849l12.366-8.425-12.366-8.424z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(.885 .893)' d='M0 0h37.306v37.277H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 39px;
    height: 39px;
}