/* stylelint-disable */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow_left {
  font-size: (16/10)*1rem;
  width: (10/16)*1em;
}
.icon-arrow_right {
  font-size: (16/10)*1rem;
  width: (10/16)*1em;
}
.icon-play {
  font-size: (21/10)*1rem;
  width: (16/21)*1em;
}
/* stylelint-enable */
