/* Fonts ================ */

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Friends Font";
  src:
    local("Friends Font"),
    local("Friends-Font"),
    url("../fonts/gabrwffr-webfont.woff2") format("woff2"),
    url("../fonts/gabrwffr-webfont.woff") format("woff");
}
/* ================ end fonts  */
