/* Typography ======================= */

body {
  color: var(--color-text);
  font-weight: normal;
  font-size: var(--text-size-s);
  line-height: var(--text-line-height-main);
  font-family: var(--font-family-main);
}

h1,
.h1 {
  color: var(--color-title);
  font-size: var(--text-size-h1);
  line-height: var(--text-line-height-title);
}

h2,
.h2 {
  color: var(--color-title);
  font-size: var(--text-size-h2);
  line-height: var(--text-line-height-title);
}

h3,
.h3 {
  color: var(--color-title);
  font-size: var(--text-size-h3);
  line-height: var(--text-line-height-title);
}

h4,
.h4 {
  color: var(--color-title);
  font-size: var(--text-size-h4);
  line-height: var(--text-line-height-title);
}

a[href *= "mailto:"],
a[href *= "tel:"] {

  &:hover {
    color: currentColor;
    text-decoration: none;
  }
}

p {
  margin-top: 0;
  line-height: var(--text-line-height-main);
}

a {
  color: var(--color-secondary);
  font-size: var(--text-size-m);
  line-height: var(--text-line-height-main);
  text-decoration: none;

  &:hover {
    color: var(--color-secondary-light);
  }
}
/* ================ end typography  */
