:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary: #8562a6;
  --color-primary-dark: #310e52;

  --color-secondary: #ffc20e;
  --color-secondary-light: color-mod(var(--color-secondary) whiteness(35%));

  --font-friends-font: "Friends Font", sans-serif;

  --font-family-main: var(--font-friends-font);

  --text-size-l: 36px;
  --text-size-m: 24px;
  --text-size-s: 20px;
  --text-size-xs: 16px;
  --text-size-xxs: 14px;

  --text-size-h1: var(--text-size-l);
  --text-size-h2: 32px;
  --text-size-h3: 28px;
  --text-size-h4: 24px;

  --text-line-height-main: 1.4;
  --text-line-height-title: 1.2;

  --color-text: var(--color-primary-dark);
  --color-title: var(--color-white);

  --z-index-default: 1;

  --transition-time: .375s;
  --transition-type: ease-in-out;

  --container-max-width: 1200px;
  --container-padding: 30px;

  --body-background: var(--color-primary);

  @media (--tablet-large-max) {
    --text-size-l: 32px;
    --text-size-m: 20px;
    --text-size-s: 18px;
    --text-size-xs: 16px;
    --text-size-xxs: 14px;
  }
}
