//- (href, title, seasonInfo, image)
include ../../../components/card/card

section.recommendation.js-cards
  +card(
    "https://friends-online.me/series/5-sezon-8-seriya/",
    "The One with All the Thanksgivings",
    "season 5 episode 8",
    "thumb_1.jpg"
  )
  +card(
    "https://friends-online.me/series/4-sezon-12-seriya/",
    "The One with the Embryos",
    "season 4 episode 12",
    "thumb_2.jpg"
  )
  +card(
    "https://friends-online.me/series/7-sezon-10-seriya/",
    "The One with the Holiday Armadillo",
    "season 7 episode 10",
    "thumb_3.jpg"
  )
  +card(
    "https://friends-online.me/series/6-sezon-10-seriya/",
    "The One with the Routine",
    "season 6 episode 10",
    "thumb_4.jpg"
  )
  +card(
    "https://friends-online.me/series/3-sezon-10-seriya/",
    "The One Where Rachel Quits",
    "season 3 episode 10",
    "thumb_5.jpg"
  )
  +card(
    "https://friends-online.me/series/5-sezon-11-seriya/",
    "The One with All the Resolutions",
    "season 5 episode 11",
    "thumb_6.jpg"
  )
  +card(
    "https://friends-online.me/series/10-sezon-3-seriya/",
    "The One with Ross's Tan",
    "season 10 episode 3",
    "thumb_7.jpg"
  )
  +card(
    "https://friends-online.me/series/6-sezon-17-seriya/",
    "The One with Unagi",
    "season 6 episode 17",
    "thumb_8.jpg"
  )
  +card(
    "https://friends-online.me/series/10-sezon-13-seriya/",
    "The One Where Joey Speaks French",
    "season 10 episode 13",
    "thumb_9.jpg"
  )
