//.audio-background
//  audio(controls autoplay loop)
//    source(src="audio/friends.mp3" type="audio/ogg")
//    embed(src="audio/friends.mp3" autostart="true" loop="true" hidden="true")

embed(src="audio/friends.mp3" autostart="true" loop="true" width="2" height="0")
