/* Frame ======================= */

.frame {
  --frame-width: 550px;
  --frame-height: 730px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--frame-width);
  height: var(--frame-height);
  padding: 140px;
  text-align: center;
  background: url("../images/frame.svg") no-repeat center;
  background-size: cover;

  @media (--laptop-max) {
    --frame-width: 500px;
    --frame-height: 680px;
  }

  @media (--phone-large-max) {
    --frame-width: 320px;
    --frame-height: 430px;
    padding: 20px;
  }
}

.frame__logo {
  margin-bottom: 20px;
}
/* ================ end frame  */
