mixin frame(image, name)
  .frame
    img.frame__logo(src="images/" + image + ".svg" alt= name)
    p We invite you to the party NY 2020, which will be held December 31 <br/> Want to attend the best party of the year?
    a(href="https://tlgg.ru/joinchat/DZCsSlbS0aLKL60iDydn9w" title="Telegram chat" target="_blank") Click here

