/* Home content block ======================= */

.home-content {
  margin-bottom: 200px;

  @media (--tablet-small-max) {

    .home-content__title {
      font-size: 25px;
    }

    p {
      font-size: 14px;
    }
  }
}

.home-content__text {
  max-width: 600px;
  color: var(--color-white);
  text-align: left;
}
/* ================ end home content block  */
