.home-content
  .container.home-content__container
    .home-content__text
      h1.home-content__title Happy New Year!
      p We offer to recall the interesting series of the series and get a positive charge!  Perhaps this will help you prepare for the upcoming quiz and just cheer up on a weekday.
      p We are waiting for you at the party in the style of "FRIENDS" on December 31.
